# 目标硬件架构锁定：Newifi D2
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y


# 1. 强制启用 LuCI 兼容性支持（最重要！）
# CONFIG_PACKAGE_luci-compat=y

# 2. 勾选 Nikki 及其界面与中文包
# CONFIG_PACKAGE_luki=n
# CONFIG_PACKAGE_luci-app-nikki=y
# CONFIG_PACKAGE_luci-i18n-nikki-zh-cn=y

# 3. 确保勾选了内核和网络依赖，防止被系统剔除
# CONFIG_PACKAGE_nikki=n
# CONFIG_PACKAGE_mihomo-meta=y
# CONFIG_PACKAGE_kmod-tun=y
# CONFIG_PACKAGE_kmod-nft-tproxy=y
# CONFIG_PACKAGE_kmod-inet-diag=y


# 在 .config 中找到并全部设为 n（或者在 menuconfig 里取消勾选）
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_docker-ce=n

CONFIG_PACKAGE_luci-app-openclash=n
# CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-ssr-plus=n

CONFIG_PACKAGE_python3=n
CONFIG_PACKAGE_node=n

# 各种不用的辅助协议工具（如 Trojan, Shadowsocks-Rust 等，不用的都设为 n）
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_PDNSD=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=y
CONFIG_PACKAGE_sing-box=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Tuic_Client=y
# CONFIG_PACKAGE_tuic-client=y
CONFIG_PACKAGE_luci-theme-material=y
# CONFIG_PACKAGE_luci-theme-Argon=y



# 自动剔除常规固件经常塞入的“附赠垃圾”（强制不编译）
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-filebrowser=n
